.root {
    -fx-base: #31363b;
    -fx-accent: #3073b4;
    -fx-background: #31363b;
    -fx-focus-color: #3073b4;
    -fx-control-inner-background: #232629;
    -fx-inner-border: linear-gradient(to bottom,
    derive(-fx-color,30%) 0%,
    derive(-fx-color,-5%) 100%);
    -fx-body-color: linear-gradient(to bottom,
    derive(-fx-color, -0%) 0%,
    derive(-fx-color, -2%) 20%,
    derive(-fx-color, -5%) 60%,
    derive(-fx-color, -8%) 100%);
}