.root {
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-font-size: 13px;
    -fx-word-spacing: 2px;
    -fx-font-color: #C8C8C8;
    -fx-text-fill: #C8C8C8;
    -fx-base: #3f474f;
    -fx-accent: #e7eff7 ;
    -fx-focus-color: #efefef;
    -fx-faint-focus-color: #efefef22;
    -fx-focused-text-base-color : ladder( -fx-selection-bar, -fx-light-text-color 45%, -fx-dark-text-color 46%, -fx-dark-text-color 59%, -fx-mid-text-color 60% );
    -fx-focused-mark-color : -fx-focused-text-base-color;
}


#hoverBtn{
    -fx-background-color:transparent;
    -fx-background-size: 90px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
    -fx-content-display: bottom;
}

.button:hover {
    -fx-background-color: #3f474f;
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
.button{
    -fx-background-radius: 17px;
    -fx-stroke-width: 1
}

.text-input:focused {
    -fx-highlight-text-fill: ladder(-fx-highlight-fill, -fx-light-text-color 45%, -fx-dark-text-color 46%, -fx-dark-text-color 59%, -fx-mid-text-color 60%);
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}